*{
    box-sizing: border-box;
    padding:0;
    /* margin: 0; */
}

body {
    margin-top: 4%;
}

.outer_box{
    width:35%;
    margin:0 auto;
    border:2px solid red;
    padding:20px;
}

h1,p,ul,li,button,a{
    border:2px solid red;
    padding:4px;
}

ul{
    padding:5px;
}

button{
    border:2px solid red;
    height:30px;
    width: 60px;
}

a{
    display:inline-block;
    height:30px;
    padding:4px;
}   